body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 20px;
}

.container {
    width: 420px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 
h1,h3 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: 84.5%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group select {
    width: 90%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.form-group select:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}


.btn-submit {
    width: 40%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}
